# Logs
logs
*.log
npm-debug.log*
lerna-debug.log*

# Diagnostic reports
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Instrumented libs
lib-cov

# Coverage
coverage
*.lcov
.nyc_output

# Build
dist
build
out

# Dependency directories
node_modules/
jspm_packages/
web_modules/
visual.spec.js-snapshots/

# TypeScript
*.tsbuildinfo

# Caches
.npm
.eslintcache
.stylelintcache
.node_repl_history
.cache
.parcel-cache
.svelte-kit/
**/.vitepress/cache


# Output of 'npm pack'
*.tgz

# dotenv files
.env
.env.*
!.env.example
.env.local

# Frameworks
.next
.nuxt
.vuepress/dist
.temp
**/.vitepress/dist
.docusaurus
.serverless/
.fusebox/
.dynamodb/
.firebase/
.tern-port

# VSCode testing
.vscode-test

# Vite logs
vite.config.js.timestamp-*
vite.config.ts.timestamp-*

# Playwright
test-results/
playwright-report/
playwright/.cache/
relatorios/
screenshots/
videos/

# Sistema
.DS_Store
Thumbs.db
ehthumbs.db
Desktop.ini